stages:
  - build
  - deploy

build:
  stage: build
  image: node:16-alpine
  script:
    - yarn
    - yarn run build
  artifacts:
    paths:
      - build/

deploy:
  stage: deploy
  image: google/cloud-sdk:alpine
  environment: staging
  only:
    - main
  script:
    - cp $GCP_SERVICE_ACCT_KEY  /tmp/serivce-acct.json #Used for auth.
    - gcloud auth activate-service-account --key-file=/tmp/serivce-acct.json
    - gcloud config set project $GCP_PROJECT_ID
    - gsutil cp -r build/* gs://$GCP_BUCKET_NAME
