.gutter-box {
    display: none;
    padding: 8px 0;
    background: #00a0e9;
  }
.category-name { 
  margin-top: 0px; 
  margin-bottom: 16px; 
  color: #ffffff;
  text-transform: uppercase; 
}
.fixture-card {
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  background: #e5e5e5;
  border: 2px solid #e5e5e5;
  border-radius: 2%;
  color: #464343;
  margin: 10px;
}
.ant-card-head {
  background-color: #e1dada !important;
  min-height: 60px !important;
}
.fixture-link {
  color: #464343;
  text-transform: capitalize;
  transition: transform 0.2s;
}
.fixture-link:hover {
  color: #360808;
  text-transform: capitalize;
  transform: scale(1.2);
}
.flex-display {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.match-time {
  border: 2px solid #e5e5e5;
  padding-right: 5px;
  display: inline-block;
  border-radius: 4%;
  padding-left: 6px;
  background: #d1d1d1;
  color: #464343
}
.category {
  font-weight: 800;
  color: rgb(149, 16, 13);
  font-size: 15px;
}
.dash {
  width: 4px;
  height: 14px;
  margin: 0 10px;
  background: #34c7c7;
}
/* Your CSS file or in a style block */
@media (max-width: 600px) {
  .ant-col-16 {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ant-col-12 {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ant-col-6 {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ant-col-4 {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ant-card-body {
    padding: 0px;
  }
  .flex-display {
    font-size: 11px;
    text-align: center;
  }
  .time-button {
    font-size: 12px !important;
  }
}
