.component-content {
  padding: 3em;
}
.project-form {
  padding: 3em;
}
.disabled-link {
  pointer-events: none;
}
.drawer {
  padding: 2em;
}
.drawer-content {
  padding: 2em;
}
.drawer-components {
  margin-top: 1em;
}
.gray {
  color: gray;
}
.black {
  color: black;
}
